<div class="container-fluid no-padding">
   <div class="cng-footer-outer">
      <div class="cng-footer-inner" style="display: flex; justify-content: space-between;">
         <div style="display: flex;">
            <div class="ft-logo-and-rights-container inline-block">
               <a href="/"><img alt="Cricingif Logo" src="/images/logo.png" width="160"></a>
               <div class="rights-text">
                  <p class="no-margin-bottom"> © Cricingif 2017 </p>
                  <p> All rights reserved </p>
               </div>
            </div>
            <div class="ft-links inline-block">
               <div class="ft-links inline-block">
                  <a href="/match">Matches</a>
                  <a href="/news">News</a>
                  <a href="/blogs">Blogs</a>
               </div>
               <div class="ft-links inline-block">
                  <a href="/live-cricket-app">Apps</a>
                  <a href="/about">About Us</a>
               </div>
            </div>   
         </div>
         <div class="ft-social-links inline-block pull-right">
            <div class="ft-sl inline-block ft-sl-up">
               <a href="https://www.facebook.com/cricingif/">
                  <img alt="Facebook Page" src="/images/facebook_footer_button.png">
               </a>
               <a href="https://twitter.com/_cricingif">
                  <img alt="Twitter Profile" src="/images/twitter_footer_button.png">
               </a>
               <a href="https://www.linkedin.com/company/cricingif">
                  <img alt="Linked In" src="/images/linkedin_footer_button.png">
               </a>
            <!-- </div> -->
            <!-- <div class="ft-sl inline-block ft-sl-down"> -->
               <a href="https://www.instagram.com/cricingif">
                  <img alt="Instagram" src="/images/instagram_footer_button.png">
               </a>
               <a href="https://plus.google.com/110676379526565517541">
                  <img alt="Google Plus" src="/images/google_plus_footer_button.png">
               </a>
            </div>
            <div class="ft-app-links">
               <a href="https://itunes.apple.com/us/app/cricingif-fastest-live-scores/id1197899513?ls=1&amp;mt=8">
                  <img alt="Download IPhone App" class="inline-block" src="/images/appstore_button.png">
               </a>
               <a href="https://play.google.com/store/apps/details?id=com.lts.cricingif">
                  <img alt="Download Android App" class="inline-block" src="/images/google_play_button.png">
               </a>
            </div>
            <div class="ft-cnt-pages">
               <a class="inline-block" href="/privacypolicy">Privacy Policy</a>
               <a class="inline-block" href="/termsandconditions">Terms and Conditions</a>
               <a class="inline-block" href="/contact">Contact</a>
            </div>
            <div class="ft-vr-logo">
               <a href="http://venturerepublic.net/">
                  <img alt="Venture Republic" src="/images/vr_logo.png">
               </a>
            </div>
         </div>
      </div>
   </div>
</div>
