<div id="header" class="container-fluid no-padding" style="padding: 0;">
   <div class="cng-header-outer">
      <div class="header-inner">
         <div class="cng-logo">
         	<a href="/">
         		<img alt="cricingif" src="/images/logo.png">
         	</a>
         </div>
         <div class="header-right">
            <div id="header-dynamic" class="login-action">
               <div data-target="#signInModal" data-toggle="modal">
               		<i class="icon-user"></i>
               	</div>
            </div>
            <div class="notify-action" data-balloon="Coming soon!" data-balloon-pos="down">
            	<i class="fa fa-bell-o"></i>
            </div>
            <div class="menu-action">
            	<i class="icon-menu"></i>
            </div>
         </div>
      </div>
   </div>
   <div class="cng-header-two-outer">
      <div class="header-inner">
         <div class="menu-actions">
            <span class="dropdown-tag dropdown dropdown-margin-30">
               <div class="btn-no-padding btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Series</div>
            </span>
            <a class="news-link ajax-link" href="/match">Matches</a>
            <a class="news-link ajax-link" href="/blogs">Blogs</a>
            <a class="news-link" href="/live-cricket-app">Apps</a>
            <a href="/series/1106/Bangladesh-Premier-League-2017" style="color:#a5c715;font-family:'poppins-semibold';">BPL 2017</a>
            <a href="/news/6306/Dennis-Does-Pakistan" style="color:#a5c715;font-family:'poppins-semibold';">Dennis Does Pakistan</a>
         </div>
      </div>
   </div>
</div>
